/* CSS Font */
.alumni-sans {
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}


h1,
h2,
h3 {
    font-family: "Alumni Sans", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

.allan-regular {
    font-family: "Allan", serif;
    font-weight: 400;
    font-style: normal;
}

.allan-bold {
    font-family: "Allan", serif;
    font-weight: 700;
    font-style: normal;
}

/* CSS Font */

/* Style the scrollbar container */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (for horizontal scrollbar) */
}

/* Style the track (part the scroll thumb moves along) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 10px; /* Rounded corners */
}

/* Style the handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #888; /* Handle color */
    border-radius: 10px; /* Rounded corners */
}

/* Style the handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Handle color on hover */
}




body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid layout start*/
.gridContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr calc(100% - 1fr - 80px);
    grid-template-areas: "horizontal"
        "content"
        "footer";
}


.mainMenu {
    grid-area: horizontal;
    width: 100%;
    background-color: #373d20;
    z-index: +5;
}

.verticalMenu {
    padding: 0 20px;
    grid-area: vertical;
    background-color: #eff1ed;
    margin-bottom: -20px;

}

.content {
    background-color: white;
    grid-area: content;
}

.footer {
    grid-area: footer;
    background-color: black;
    height: calc(100% - 1fr - 80px);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;

}

/* Grid end*/


/* Menu layout start */


/* Main menu start */
.main.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 85px;
    padding-left: 85px;
    background-color: #373D20;
    flex-wrap: wrap;
}

.main.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main.right {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main.item1,
.main.item2,
.main.item3 {
    display: flex;
    color: white;
    background-color: #373d20;
    margin: 0;
    padding: 0 50px;
    height: 100%;
    font-size: 24px;
    justify-content: flex-start;
    align-items: center;
}


/* .main.item1 {
    background-color: white;
    color: black;
} */

.main.logoimage {
    display: flex;
    width: 80px;
    height: 80px;
}
.title {
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main.solsticecafe {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    padding-left: 10px;
}

.main.solsticecafe p,
.main.solsticecafe h2 {
    color: white;
}

.main.solsticecafe h2 {
    font-size: 40px;
}

.main.solsticecafe p {
    font-family: "Allan", serif;
    padding-left: 10px;
    font-size: 24px;
    padding-right: 45px;
}


.main.user,
.main.heart,
.main.cart {
    display: flex;
    color: white;
    background-color: #373d20;
    margin: 0;
    padding: 0 20px;
    height: 100%;
    font-size: 26px;
    align-items: center;
}

.main.user:hover,
.main.heart:hover,
.main.cart:hover {
    color: #bcbd8b;
    cursor: pointer;
}


.main.item1:hover,
.main.item2:hover,
.main.item3:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.main.hamburgerMenu {
    display: none;
}

/* Main menu end */

/* Vertical Menu start */

.verticalMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #eff1ed;
    bottom: -100%;
    transition: bottom 1s;
    z-index: 102;
    box-sizing: border-box;
    margin: 0;
    padding-top: 50px;
}


.verticalMenu.open {
    display: block;
    bottom: 0;
}

.verticalMenu.close {
    bottom: -100%;
    left: 0;
}

.mobver.showButton {
    display: block;
    position: fixed;
    z-index: 101;
    bottom: 0;
    text-align: center;
    font-family: "Alumni Sans", sans-serif;
    font-size: 24px;
    color: #717744;
    background-color: #bcbd8b;
    height: 50px;
    width: 100%;
    opacity: 70%;
}

.mobver.showButton h4 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.mobver.showButton:hover {
    cursor: pointer;
    background-color: black;
    color: #eff1ed;
}

#mobvercloseButton {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
}

#mobvercloseButton:hover {
    cursor: pointer;
    color: #bcbd8b;
}

/* menu animation */
/* .verticalMenu.open {
    left: 0;
}


.ver.showButton {
    margin: 0;
    padding-left: 30px;
    padding-right: 10px;
}

.ver.showButton i {
    color: #373D20;
}

.ver.showButton i:hover {
    color: #bcbd8b;
    cursor: pointer;
}

#arrowButton {
    transition: transform 0.3s ease;
}

/* button animation */
/* #arrowButton.reverse {
    transform: scaleX(-1);
} */ 

.ver.logo {
    padding-top: 30px;
    padding-bottom: 70px;
}

.ver.logoimage {
    width: 100px;
    height: 106.02px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ver.solstice {
    font-family: "Alumni Sans", sans-serif;
    font-size: 64px;
    text-align: center;
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}

.ver.cafe {
    font-family: "Allan", serif;
    font-size: 36px;
    text-align: center;
    letter-spacing: 25px;
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}

.ver.intro {
    text-align: center;
    padding-bottom: 18px;
}

.ver.aboutus {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 40px;
    background-color: #373D20;
    color: white;
    border-style: none;
}

.ver.aboutus:hover {
    background-color: #bcbd8b;
    color: white;
    cursor: pointer;
}

.ver.line {
    margin-top: 80px;
    width: 100%;
    height: 5px;
    border-top: 2px lightgray solid;
}

.ver.information {
    padding-top: 10px;
    padding-bottom: 50px;
}

.ver.information h3 {
    font-size: 24px;
}

.ver.information p {
    font-size: 14px;
}

.ver.location,
.ver.phone,
.ver.email {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location.icon,
.location.text {
    display: flex;
    justify-content: flex-start;
    padding: 0 4px;
}

.phone.icon,
.phone.text {
    display: flex;
    justify-content: flex-start;
    padding: 0 4px;
}

.email.icon,
.email.text {
    display: flex;
    justify-content: flex-start;
    padding: 0 4px;
}

/* .arrow-button {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
}


.arrow-button i {
    font-size: 36px;
}

.arrow-button p {
    font-family: "Alumni Sans", sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 10px;
} */

/* .mobver.showButton {
    display: none;
}

#mobvercloseButton {
    display: none;
} */

/* Vertical Menu end */

/* Content start */

                /* Featured highlights */

.content {
    margin: 0;
    padding: 0;
}

.content.body {
    display: flex;
    flex-direction: column;
}

.content.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #373D20;
}

.content.leftpart {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: white;
    padding-left: 85px;
    padding-right: 20px;
}

.content.leftpart h1 {
    font-size: 72px;
    margin: 0;
    padding-top: 30px;
    color: #bcbd8b;
}

.content.abt-info {
    background-color: transparent;
}

.content.abt-intro {
    background-color: transparent;
}

.content.abt-intro p {
    font-size: 18px;
}


.content.abt-intro h2 {
    font-size: 38px;
    margin: 0;
    padding-bottom: 50px;
    font-family: "Allan", serif;
    font-weight: 200;
}

.content.info {
    background-color: transparent;
}


.info.testimonials {
    display: flex;
    flex-direction: row;
    background-color: #eff1ed;
    border-radius: 20px;
    margin: 70px 0;
    justify-content: space-between;
    padding: 0 100px;
}


.testimonials.title {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    padding-top: 50px;
    color: #bcbd8b;
}

.testimonials.number {
    font-weight: 600;
    font-size: 42px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 50px;
    color: #373D20;
}

.testimonials.line {
    margin-top: 50px;
    height: 90px;
    border-left: 2px lightgray solid;
}


.content.rightpart {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding-right: 20px;
}

.rightpart.image {
    width: 700px;
    z-index: +1;
}

.rightpart.box {
    width: 400px;
    height: 400px;
    border-radius: 10%;
    background-color:#717744;
    margin-top: -700px;
    margin-left: 250px;
    margin-bottom: 200px;
    margin-right: 85px;
}

.rightpart.textbox {
    width: 400px;
    height: fit-content;
    border-radius: 20px;
    background-color:#eff1ed;
    margin-top: -150px;
    margin-left: 30px;
    z-index: +2;
    padding: 20px;
    color: #373D20;
}

/* Customer Rating */

.content.sliderbar {
    box-sizing: border-box;
}

.sliderbar.arrowIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    height: 550px;
    align-items: center;
}

.sliderbar.arrowIcon i {
    font-size: 72px;
}

.sliderbar.arrowIcon i:hover {
    color:#717744;
    cursor: pointer;
}



.sliderbar.container {
    margin-top: -550px;
    padding: 50px;
}

.slideshow {
    display: none;
    background-color:#eff1ed;
    border-radius: 10px;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.slideshow:first-child { 
    display: block; 
}


.customer-comments {
    margin-top: 20px;
    margin-bottom: 20px;
}

.customer {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: solid 3px rgba(255, 255, 255, 1);
    backdrop-filter: blur(30px);
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    width: 400px;
    margin: 20px;
    transition: 0.2s ease;
}


.customer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.customer-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 20px;
}

.customer-info p {
    font-size: 24px;
    font-weight: 700;
    color: #373d20;
}

.feedback-brand-name {
    color: grey;
    font-size: 15px;
    text-align: center;
}

.feedback-heading {
    margin-top: -15px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
}


.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quote p {
    padding: 10px 30px;
    font-size: 20px;
}

.quotation {
    width: 20px;
    height: 15px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-media-icons i {
    width: 20px;
    height: 20px;
    padding: 20px;
    font-size: 36px;
}

.social-media-icons i:hover {
    color: #717744;
    cursor: pointer;
}

.dot-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dot-container i {
    padding: 0 5px;
    font-size: 18px;
}


/* Blog Post */

.blog-post-container {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px 85px;
}

.blog-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.blog-heading {
    padding-bottom: 50px;
}

.blog-title {
    font-size: 48px;
    margin: 0;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.blog-title:hover {
    color: #717744;
    cursor: pointer;
}

.blog-subheading {
    color: grey;
    margin-top: 20px;
    margin-bottom: 0px;
}


.posts {
    width: 500px;
    height: 570px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
    position: relative;
}

.blog-info {
    padding-right: 20px;
    padding-bottom: 20px;
}

.blog-info h2 {
    font-size: 28px;
}

.blog-pictures {
    width: 480px;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
}


.blog-pictures:hover {
    background-blend-mode: overlay;
    opacity: 70%;
    cursor: pointer;
}


.blog-buttons {
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    width: 100px;
    background-color: #717744;
    margin-bottom: 10px;
}

.blog-buttons:hover {
    background-color: #373d20;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute; 
    bottom: 40px; 
    left: 20px;
    right: 20px; 
    padding-bottom: 0;
    flex-wrap: wrap;
}


.read-button {
    flex: 2;
    display: flex;
    
}

/* Code Ends */

/* Customer Emails */

.socials {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.medias {
    width: 25px;
    height: 25px;
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
}

.info-buttons1 {
    padding: 10px;
    width: 300px;
    margin: 5px;
}


.submit2 {
    padding: 10px;
    width: 80;
    margin-left: -10px;
}

.submit2:hover {
    color: white;
    background-color: black;
}

.registration {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #717744;
    box-shadow: 0 0 5px 2px #282a2d;
    color: white;
    margin-top: 50px;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

.registration-right {
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-medias {
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 30px;
    background-color: white;
}


.right-side-reg h2 {
    font-size: 48px;
    margin: 0;
}

.right-side-reg h3 {
    font-size: 32px;
    margin: 0;
}

.social-media-icons.emails i:hover {
    color: #373D20;
}





/* Content end */

/* Menu layout end */

/* Footer start */

.footer {
    z-index: +4;
    margin: 0;
}

.footer.content {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
    padding-left: 85px;
    padding-bottom: 50px;
    padding-top: 30px;
    padding-right: 85px;
}

.footer.leftpart {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 85px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.footer.logo {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.footer.logoimage {
    display: flex;
    width: 80px;
    height: 80px;
}

.footer.description {
    width: 450px;
}

.footer.solsticecafe {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.footer.solsticecafe h2 {
    font-size: 60px;
    margin: 0;
    padding-left: 10px;
}

.footer.solsticecafe p {
    font-family: "Allan", serif;
    padding-left: 10px;
    font-size: 45px;
    margin: 10px;
}

.footer.rightpart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding-top: 50px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    flex-wrap: wrap;

}

.footer.about-Solstice {
    display: flex;
    flex-direction: column;
}

.footer.about-Solstice h2,
.footer.contact-us h2,
.footer.follow-us h2 {
    font-size: 32px;
    margin: 0;
}

.footer.about-Solstice ul,
.footer.contact-us ul {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
}

.footer.contact-us {
    display: flex;
    flex-direction: column;
}

.footer.follow-us {
    display: flex;
    flex-direction: column;
}

.follow-us.icon {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.follow-us.icon i {
    padding-right: 25px;
}

.follow-us.icon i:hover {
    color: #bcbd8b;
    cursor: pointer;
}

.footer.subscribe-us {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0;
    padding: 0;
}

.footer.subscribe-us h2 {
    font-size: 42px;
    margin: 0;
}

.footer.subscribe-us input {
    font-size: 24px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.footer.subscribe-us button {
    background-color: #717744;
    padding: 8px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.footer.subscribe-us button:hover {
    background-color: black;
    border: solid 2px white;
    cursor: pointer;
}

.hamMenu {
    display: none;
}

.follow-us.social {
    display: none;
}

/* Footer end */

/* Mobile responsiveness */

@media (max-width: 1024px) {

    /* Grid content start */


    .gridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "horizontal"
                            "content"
                            "footer";


    }

    .mainMenu {
        grid-area: horizontal;
        height: 80px;
    }

    .content {
        grid-area: content;
    }

    .footer {
        grid-area: footer;
    }

    .main.content {
        padding: 0;
    }


    .main.right {
        display: none;
    }

    .main.item1,
    .main.item2,
    .main.item3 {
        display: none;
    }

    .main.left {
        padding: 0;
    }

    /* Hamburger Menu start */

    #hamMenuicon {
        display: flex;
        background-color: white;
        padding: 25px;
        align-items: center;
    }

    #hamMenuicon:hover {
        color: white;
        background-color: black;
        cursor: pointer;
    }

    #hamMenulinks {
        position: fixed;
        width: 100%;
        background-color: white;
        top: 80px;
        right: -100%;
        transition: right 1s;
        margin-top: -80px;
        padding-top: 50px;
        text-align: right;
        padding-right: 50px;
        padding-left: 50px;
        font-size: 20px;
        z-index: 100;
        box-sizing: border-box;
        left: 0
    }

    #hamMenuicon2 {
        cursor: pointer;
        position: relative;
        width: 80px;
    }

    #hamMenuicon2:hover {
        color: lightgray;
    }

    #hamMenulinks.open {
        display: block;
        right: 0;
    }

    #hamMenulinks.close {
        right: -100%;
    }

    .hamMenu.social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .hamMenu.social h3 {
        font-family: "Roboto", sans-serif;
        color: lightgray;
        font-size: 14px;
    }

    .hamMenu.social h3:hover {
        color: #373D20;
        cursor: pointer;
    }

    /* Hamburger Menu end */

    /*Vertical Menu start*/

    .ver.showButton {
        display: none;
    }

    

    .ver.logo {
        padding-bottom: 10px;
    }

    .ver.logo h2 {
        font-size: 32px;
    }

    .ver.logo p {
        font-size: 18px;
        letter-spacing: 15px;
    }

    .ver.logoimage {
        width: 60px;
        height: 60px;
    }

    .ver p {
        font-size: 14px;
    }

    .ver.intro {
        padding-bottom: 10px;
    }

    .ver.line {
        display: none;
    }

    /* Vertical menu ends */

    /* Content start */

    .content.rightpart {
        display: none;
    }

    .content.leftpart {
        padding-left: 20px;
        width: 100%;
    }

    .content.leftpart h1 {
        font-size: 32px;
    }

    .content.leftpart h2 {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .content.leftpart h3 {
        font-size: 24px;
    }

    .content.leftpart p {
        font-size: 14px;
    }

    .info.testimonials {
        flex-wrap: wrap;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .testimonials.line {
        display: none;
    }

    .info.testimonials h3 {
        padding-top: 10px;
    }

    #productNum, #salesNum, #yearNum {
        padding-bottom: 10px;
    }

    .sliderbar.arrowIcon i {
        font-size: 32px;
    }

    .sliderbar.container {
        padding: 40px;
    }

    .slideshow {
        padding: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .feedback-brand-name {
        font-size: 14px;
    }

    .feedback-heading {
        font-size: 20px;
    }

    .customer-image {
        width: 50px;
        height: 50px;
    }

    .customer-info p {
        font-size: 16px;
    }

    .quote p {
        font-size: 14px;
        padding: 10px 5px;
    }

    .social-media-icons i {
        font-size: 24px;
    }

    .dot-container i {
        font-size: 12px;
    }

    .blog-post-container {
        padding: 20px 20px;
    }

    .posts {
        width: 100%;
    }

    .blog-pictures {
        width: calc(100% - 20px);
        height: 200px;
    }

    .blog-info h2 {
        font-size: 24px;
    }

    .blog-info p {
        font-size: 14px;
    }

    .blog-title {
        font-size: 28px;
    }

    .blog-subheading {
        font-size: 14px;
    }

    .registration h2 {
        font-size: 32px;
    }


    /* Content ends */


    /* Footer starts */

    .footer {
        height: fit-content;
        padding-top: 20px;
    }
    .footer.content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer.leftpart {
        display: none;
    }

    .footer.rightpart {
        display: flex;
        flex-direction: row;
        padding-top: 0;
    }


    .footer.description {
        display: none;
    }


    .footer.content p, li {
        font-size: 12px;
    }

    .footer.content h2 {
        font-size: 18px;
    }

    .follow-us.icon {
        display: none;
    }

    .follow-us.social {
        display: flex;
        flex-direction: row;
    }

    .follow-us.social h3 {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 200;
        padding-right: 10px;
    }

    .follow-us.social h3:hover {
        color: #717744;
        cursor: pointer;
    }

    .footer.subscribe-us {
        padding-top: 20px;
    }

    /* Footer ends */

}


@media (max-width: 430px) {
    .footer.subscribe-us {
        display: none;
    }

    .content.leftpart h3 {
        font-size: 20px;
    }

    .links {
        flex-direction: column;
        position: none;
        bottom: 40px;
        padding-left: 20px;
        padding-right: 20px; 
        left: 0;
        right: 0;
    }

    .blog-buttons {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .read-button {
        width: 100%;
    }


}


@media (max-width: 360px) {
    .main.solsticecafe {
        display: none;
    }

    .registration h2, .registration h3 {
        font-size: 24px;
    }



}

.menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

.menu-link:hover {
    color: black;
}